[submodule "external/mpifx/origin"]
	path = external/mpifx/origin
	url = git@github.com:aradi/mpifx.git
	branch = dpint
[submodule "external/scalapackfx/origin"]
	path = external/scalapackfx/origin
	url = git@github.com:aradi/scalapackfx.git
        branch = dpint
