*~
*.pyc
_gitmsg.saved.txt
external/slakos/origin
external/slakos/status
external/dftd3/origin
external/dftd3/status
_build*
_install
make.arch
make.config
custom.cmake
__pycache__
.idea
RELEASE
tools/dptools/build
test/prog/dftb+/transtests
