*~
*.pyc
_gitmsg.saved.txt
external/slakos/origin
external/slakos/status
external/dftd3/origin
external/dftd3/status
_build*
_install
make.arch
make.config
__pycache__
.idea
test/prog/dftb+/transtests
test/prog/dftb+/alltests
RELEASE
srun.sh
