[submodule "external/mpifx/origin"]
	path = external/mpifx/origin
	url = https://github.com/dftbplus/mpifx.git
[submodule "external/scalapackfx/origin"]
	path = external/scalapackfx/origin
	url = https://github.com/dftbplus/scalapackfx.git
