################################################################################
# Basic settings
################################################################################

# Build directory (default: _build within the source tree)
BUILDDIR := $(ROOT)/_build

# Installation directory
INSTALLDIR := $(ROOT)/_install

################################################################################
# Configuration of optional components
################################################################################

# Whether DFTB+ should support MPI-parallelism
WITH_MPI := 0

# Whether the socket library (external control) should be linked.
WITH_SOCKETS := 1

# Whether the ARPACK library (needed by TD-DFTB) should be linked with DFTB+
# Only affects serial build (MPI-version is built without ARPACK/TD-DFTB).
WITH_ARPACK := 1

# Whether the DFTD3 library (dispersion) should be linked.
# NOTE: Due to license incompatibility, distribution of a DFTB+ binary built
# with this component is not permitted. Use it only for your personal research.
WITH_DFTD3 := 0

################################################################################
# General building/testing options
################################################################################

# DEBUG levels:
# 0 -- production code
# 1 -- internal runtime checks and reduced compiler optimization
# 2 -- level 1 checks plus extra runtime compiler checks
DEBUG := 0

# Nr. of MPI processes used for testing
TEST_MPI_PROCS := 1

# Nr. of OpenMP shared memory threads used for testing
TEST_OMP_THREADS := 1

################################################################################
# Architecture dependent settings
################################################################################

# Include architecture dependent settings from make.arch (make sure to adapt
# those in make.arch for your system)
include $(ROOT)/make.arch
