################################################################################
# Basic settings
################################################################################

# Build directory (default: _build within the source tree)
BUILDDIR := $(ROOT)/_build

# Installation directory
INSTALLDIR := $(ROOT)/_install

################################################################################
# Configuration of optional components
################################################################################

# Whether DFTB+ should support MPI-parallelism
WITH_MPI := 1

# Whether DFTB+ with MPI-parallelism should use the ELSI libraries
WITH_ELSI := 0

# Whether the ELSI libraries are compiled  with PEXSI support
WITH_PEXSI := 0

# Whether the socket library (external control) should be linked.
WITH_SOCKETS := 0

# Whether the ARPACK library (needed by TD-DFTB) should be linked with DFTB+
# Only affects serial build (MPI-version is built without ARPACK/TD-DFTB).
WITH_ARPACK := 0

# Whether transport via libNEGF should be included.
# Only affects parallel build (serial version is built without libNEGF/transport)
WITH_TRANSPORT := 0

# Whether the DFTD3 library (dispersion) should be linked.
# NOTE: Due to the license of the DFTD3 library, the combined code must be
# distributed under the GPLv3 license (as opposed to the LGPLv3 license of the
# DFTB+ package)
WITH_DFTD3 := 0

################################################################################
# General building/testing options
################################################################################

# DEBUG levels:
# 0 -- production code
# 1 -- internal runtime checks and reduced compiler optimization
# 2 -- level 1 checks plus extra runtime compiler checks
DEBUG := 0

# Whether the API (DFTB+ library) should be built
BUILD_API := 0

# Whether eventual binaries needed for testing should be also built
BUILD_TEST_BINARIES := 1

# Nr. of MPI processes used for testing
TEST_MPI_PROCS := 1

# Nr. of OpenMP shared memory threads used for testing
TEST_OMP_THREADS := 1

################################################################################
# Architecture dependent settings
################################################################################

# Include architecture dependent settings from make.arch (make sure to adapt
# those in make.arch for your system)
include $(ROOT)/make.arch
